.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrowanie elementów w pionie */
}

.modal-content.dark {
  background-color: #333; /* Ciemne tło dla trybu ciemnego */
  color: white;
}

.error-message {
  color: red;
  text-align: center; /* Wyśrodkowanie błędu */
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%; /* Szerokość inputów */
  box-sizing: border-box; /* Zapewnia odpowiednie wymiary */
  text-align: center; /* Wyśrodkowanie tekstu wewnątrz inputu */
}

input.dark {
  border-color: #555;
  background-color: #444; /* Ciemniejsze tło dla trybu ciemnego */
  color: white;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 10%; /* Szerokość przycisków */
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

.Change {
  width: 90%;
}

.modal-overlay.dark {
  background-color: rgba(0, 0, 0, 0.9);
}
